
body {

  /*margin: 0 auto;*/
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*  sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;

}

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/

input,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  color: #bababa;
}

.input-comment {
  height: 300px ;
}

/*#exampleFormControlTextarea1 {*/
/*  font-family: "Montserrat", sans-serif;*/

/*}*/

a {
  margin-left: 0;
  text-decoration: none;
  color: #393939;
  font-weight: normal;
}


.start {
  width: 1336px;
  margin: 0 auto;
  align-items: center;
  height: 1460px;
  /*position: relative;*/
}

.header-green {

  background-color: #06B2BB;
  width: 1336px;
  height: 90px;
  padding-top: 30px;
  margin: 0 auto;
  /*margin: 0 auto;*/

}

.header-white {
  width: 1336px;
  height: 90px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 3px 6px #00000029;
  /*margin: 0 auto;*/
}

.header-white-wrapper {
  padding: 0 60px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}

.header-green-wrapper {
  padding: 30px 100px 0;
  display: flex;
  justify-content: space-between;
 }

.header-logo-white {
  width: 60%;
  padding-left: 0px;

}

.header-logo-green {
  width: 60%;
  padding-left: 50px;
}

.header-button-signin:hover {
  background-color: #FFD219;
  border-radius: 60px;
}

.addnewpost {
  text-align: center;
  /*display: block;*/
  color: #FFFFFF;
  border-radius: 20px;
  background-color: #06B2BB;

  /*top: 18px;*/
  /*left: 1059px;*/
  width: 178px;
  height: 34px;
  /*background: 0 0 no-repeat padding-box;*/

  border: 1px solid #1CB2BB;
  opacity: 1;
  font-size: 20px;
  text-decoration: none;
}

/*.middle {*/
/*  width: 752px;*/
/* */
/*}*/

.header-text {
  color: #06B2BB;
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}

.lost-dog, .found-cat {
  width: 260px;
  height: 250px;
  margin-right: 20px;

}

.lost-found-description {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
  font-size: 12px;
}

.profile {
  display: block;
  width: 100%;

  height: 50px;
  color: #FFFFFF;

  background-color: #1CB2BB;
  font-size: 16px;
  text-align: center;
  align-items: center;
  font-weight: bold;
  padding: 10px;

  /*margin: 0 auto;*/
  margin-top: 20px;

}

.photo-avatar {
  width: 43px;
  height: 43px;
  border-radius: 50%;
}

.label {
  margin-left: 30px;
  font-weight: normal;
  color: #393939;
  /*text-align: right;*/

}

.input {
  border: none;
  border-bottom: 1px solid;
}





.welcome-wrapper {
  position: relative;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 1336px;
  height: 750px;
  /*top: 100px;*/
  /*left: 200px;*/
  margin: 0 auto;

}

.welcome {
  /*width: 70%;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*flex-wrap: wrap;*/
  /*align-self: stretch;*/
  /*justify-content: stretch;*/

}

.welcome-text {

  /*display: inline-block;*/
  padding-top: 50px;
  padding-left: 50px;

  font-size: 56px;
  /*top: 100px;*/
  text-align: left;
  /*width: 700px;*/
  width: 600px;
  /*scroll-margin-left: 30px;*/
  margin: 0 0;
}

.welcome-text > span {
  width: 485px;
  height: 204px;
  color: #06B2BB;

}

.service-list {
  padding: 40px 30px 0 0;

  font-size: 18px;
  text-align: left;
  text-decoration-color: #06B2BB;
}

li::marker {
  color: #06B2BB;
  size: 60px;
}

.wanttojoin {
  display: block;
  padding-top: 380px;
  padding-left: 50px;
}

.wanttojoin-footer {
  display: block;
}

.dog-wrapper {
  width: 40%;
  padding-top: 10px;

}

.dog {
  background-image: url("./images/Image2.jpg");
  background-repeat: no-repeat;
  width: 500px;
  height: 900px;


}



/*.dog-foto {*/
/*  position: absolute;*/
/*  width: 50%;*/
/*  height: auto;*/
/*  top: -100px;*/
/*  right: 0;*/
/*  !*left: 1000px;*!*/
/*}*/

.buttons {
  width: 523px;
  position: absolute;
  top: 374px;
  /*left: -21px;*/
  /*width: 544px;*/
  /*height: 95px;*/

  text-align: right;



}

/*.post-wrapper {*/
/*  width: 800px;*/
/*  height: 600px;*/
/*}*/


.lost_button {
  padding: 30px 150px;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  width: 523px;
  margin-bottom: 20px;
  background-color: #FA5456;
  border-radius: 0 60px 60px 0;
  position: relative;
}

.lost_button:hover {
  background-color: #FFD219;
  color: #393939;
}

.found_button {

  left: -21px;
  width: 449px;

  font-size: 32px;
  padding: 30px;
  font-weight: bold;
  background-color: #06B2BB;
  border-radius: 0 60px 60px 0;

}

.logo_pets {
  position: absolute;
  width: 89px;
  height: 100px;
}

.about {
  background-color: #06B2BB;
  color: white;
  width: 1336px;
  height: 260px;
  text-align: center;
  padding: 30px 30px;
}

.about-text {
  display: inline-block;
  font-size: 42px;
  width: 70%;
  text-align: center;
  padding: 0 40px 0;

}

/*.nav {*/
/*  position: relative;*/
/*}*/

.nav-right {
  width: 307px;
  height: 1000px;
  background-color: #06B2BBCC;
  padding-top: 30px;

}

.right {
  width: 307px;
  height: 1000px;
  background-color: #06B2BBCC;
  padding-top: 30px;
  margin: 0;
}

.nav-left {
  width: 307px;
  height: 1000px;
  background-color: #06B2BBCC;

  /*top: 90px;*/
  /*right: 0;*/
  /*position: absolute;*/
  /*text-decoration: none;*/

}

.nav-wrapper {

  width: 307px;
  height: 100px;
  padding-left: 40px;



}

.services {
  width: 1336px;
  margin-top: 70px;
  /*color: #FFFFFF;*/
  text-decoration: none;
}

.service-list {
 line-height: 40px;
 align-self: stretch;
}

.nav-item {

  color: #FFFFFF;
  padding: 10px 0 10px 80px;
  margin-bottom: 5px;
  text-align: left;

  font-size: 19px;

  text-decoration: none;

}

.nav-item:hover {
  width: 80%;
  background-color: #FFFFFF;
  border-radius: 0 60px 60px 0;
  color: #06B2BB;
}

.nav-item-new {
  color: #FFFFFF;
  text-decoration: none;
  text-align: left;
  /*margin-left: 150px;*/

}

.body_signin {
  position: relative;
  width: 1336px;
  height: 777px;
  margin-top: 40px;

  background-color: #06B2BB;
  font-family: Monserrat, sans-serif;
}

.signing {
  position: absolute;
  background-color: white;
  /*margin: 0 auto;*/

  top: 100px;
  bottom: 100px;
  left: 223px;
  width: 900px;
  height: auto;
  padding: 30px 30px;
}

.frow {
  display: flex;

  justify-content: space-between;
}



.footer {
  background-color: #06B2BB;
  width: 1336px;
  height: 170px;
  padding: 30px 30px;
  margin-bottom: 50px;
  align-items: center;
}

.footer-photo {
  width: 200px;
  height: 48px;
}