* {
  margin: auto;
}

body {
  width: 70%;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*.red {*/
/*  background-color: #FA5456;*/
/*}*/

.header {
  background-color: #06B2BB;
}

.body {
  position: relative;
  width: 1366px;
  height: 550px;


  background-color: #06B2BB;
}

.signing {
  position: absolute;
  background-color: white;

  top: 100px;
  bottom: 100px;
  left: 323px;
  width: 720px;
  height: 500px;
}

.frow {
  display: flex;
  flex-wrap: nowrap;
}

.dog {
  top: 79px;
  left: 720px;
  width: 486px;
  height: 641px;

}

.footer {
  background-color: #06B2BB;
}